//Tipografica
$fuente_principal: 'Space Grotesk', sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$violeta-gc: hsl(270, 3%, 87%);
$violeta-go: hsl(279, 6%, 55%);
$violeta-mo: hsl(278, 68%, 11%);

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
